h1 {color:antiquewhite; text-shadow: 1px 1px 4px rgb(0,0,0); background-color: rgba(0,0,0,0.4); margin-top: 0; margin-bottom: 0; padding-top: 20px; padding-bottom: 20px; text-align: center;}
#page-wrapper {width:500px; position:absolute;top:40px;left:50%;margin-left:-250px;padding:0px; border-radius: 5px; background-color: rgba(0,0,0,0.7); box-shadow:1px 1px 4px rgb(0,0,0); color:antiquewhite; text-shadow: 1px 1px 3px rgb(0,0,0);}
.row {margin:15px 0;}
.row label {display:inline-block;float:left;width:150px; }
.row input[type=text]{width:230px;padding:3px;border:1px solid #777777;border-radius: 3px; background-color: antiquewhite;}
.order input[type=text]{width:50px; border-radius: 3px;}
textarea {width:230px;padding:3px;border:1px solid #777777; background-color: antiquewhite;border-radius: 3px;}
#submit {color: antiquewhite; background-color: rgba(0,0,0,0.4); text-decoration:none;display:inline-block;padding:6px 10px;border-radius: 3px; border:0;}
label span { color:#F35151}
#center{text-align:center;}
#form-wrapper{width: 90%; margin: 0 auto;}
body {background-image: url("symphony.png"); background-repeat: repeat;}
.clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;}
.error {color:#F35151;border-color: #F35151;}

/*
Pieliku klāt vēl kaut ko, lai labāk izskatītos
*/